#navcontainer
  %ul#navlist
    %li
      %a{:href => "/admin"} Admin
    %li
      %a{:href => "/members"} Users
    %li
      %a{:href => "admins/sign_out"} Sign Out
.page-wrap
  %h2 Welcome to admin

